---
const pageTitle = "Astro Blogg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/blog-tutorial/">Home</a>
        <a href="/blog-tutorial/about/">About</a>
        <a href="/blog-tutorial/blog/">Blog</a>

		<h1>{pageTitle}</h1>
        <p>This is where I will write about my learning of Astro framework</p>
		<ul>
			<li><a href="/blog-tutorial/posts/post-1">Blog post 1</a></li>
			<li><a href="/blog-tutorial//posts/post-2/">Post 2</a></li>
			<li><a href="/blog-tutorial//posts/post-3/">Post 3</a></li>
		</ul>

	</body>
</html>