---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/blog-tutorial">Home</a>
        <a href="/blog-tutorial/about/">About</a>
        <a href="/blog-tutorial/blog/">Blog</a>
		<h1>Astro Home</h1>
		<p> This is a home page</p>
	</body>
</html>